/* For WebKit browsers (Chrome, Safari) */
#cast::-webkit-scrollbar {
    width: 12px;
}

#cast::-webkit-scrollbar-thumb {
    background-color: rgb(64, 64, 64);
    border-radius: 6px;
}

#cast::-webkit-scrollbar-track {
    background-color: black;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

#movie-container {
    margin: 150px auto;
    display: flex;
    width: 80%;
}

#movie-cover {
    flex: 1;

}

#movie-cover img {
    width: 90%;
    margin: auto;
    height: auto;
}

#movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#basic-info {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

#basic-info h1 {
    font-size: 30px;
    margin: 0;
}

#basic-info p {
    margin: 10px 0;
}

#basic-info p span.border {
    margin-top: 2px;
    border: 1px solid white;
    padding: 1px 3px;
    border-radius: 3px;
}

#basic-info p span.date {
    padding: 0 5px;
    color:  #90cea1;
}


#basic-info p span.italic {
    padding: 0 5px;
    font-style: italic;
}

#basic-info #overview {
    margin: 50px 10px 0;
    text-align: justify;
    font-size: 18px;
}

#genres {
    display: flex;
    margin: 70px 10px 30px;
}

.genre {
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
}

#cast {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;
    white-space: nowrap;
}

#cast h2 {
    font-size: 22px;
    position: sticky;
    top: 0;
    left: 0;
    font-weight: bold;
}

.cast-member {
    margin-top: 20px;
    display: inline-block;
    margin-right: 25px;
    width: 200px;
    vertical-align: top;
}

.cast-member img {
    width: 180px;
    height: 200px;
    border-radius: 3px;
    object-fit: cover;
}

.cast-details {
    padding: 10px;
    max-width: 100% !important;
    box-sizing: border-box;
}

.cast-details p {
    margin: 5px 0;
    max-width: 100% !important;
}

.cast-details p.name {
    font-weight: bold;
/*     color: #01b4e4; */
}

.cast-details p.role {
    font-weight: lighter;
}

@media screen and (max-width: 980px){
    #movie-container {
        margin: 100px auto;
        width: 90%;
    }

    .cast-member {
        margin-right: 10px;
        width: 150px;
        vertical-align: top;
    }

    .cast-member img {
        width: 120px!important;
        height: 150px!important;
    }
}

@media screen and (max-width: 720px){
    #movie-container {
        flex-direction: column;
    }

    #movie-cover{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #movie-cover img {
        width: 70%;
        margin: auto;
    }

    #basic-info {
        margin-top: 20px;
        width: 80%;
        align-self: center;
    }

    #cast {
        width: 90%;
        align-self: center;
    }
}